@model MusicTool.Models.DTO.EditCategoryRequest
@{
    ViewData["Title"] = "Edit category";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    <link href="~/css/EditCategory.css" rel="stylesheet" asp-append-version="true" />
}

<div class="container">
    <h3 class="title">Thêm thể loại</h3>
    <div class="edit">
        <form id="create-category" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label">ID</label>
                <input type="text" asp-for="Id" class="form-control" readonly>
            </div>
            <div class="mb-3">
                <label class="form-label">Tên thể loại</label>
                <input type="text" asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="err-validation"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Hình ảnh</label>
                <input class="form-control" type="file" name="PhotoName" id="PhotoName">
                <span asp-validation-for="PhotoName" class="err-validation"></span>
            </div>
            <div class="function-btn">
                <a class="btn btn-primary" asp-action="Index">Quay lại</a>
                <button type="submit" class="btn btn-primary">Cập nhật</button>
            </div>
        </form>
    </div>
</div>