.admin-index {
    margin-top: 20px;

    .btn-and-content {
        display: flex;

        .title {
            margin: 0 10px;
        }

        #statistical-year{
            width:100px;
        }
    }
}
