.admin-index {
  margin-top: 20px;
}
.admin-index .btn-and-content {
  display: flex;
}
.admin-index .btn-and-content .title {
  margin: 0 10px;
}
.admin-index .btn-and-content #statistical-year {
  width: 100px;
}
