.container .modal .modal-body .frm-delete {
  display: flex;
  justify-content: center;
}
.container .modal .modal-body .frm-delete .delete-content {
  font-size: 20px;
}
.container .modal .modal-footer button {
  width: 100px;
}
.container .title {
  padding: 5px 0 0 0;
}
.container .function-btn .frm-search button {
  min-width: auto;
}
.container .admin-index table .work {
  width: 80px;
}
.container .admin-index table thead tr th {
  min-width: 80px;
}
.container .admin-index table thead tr .id {
  min-width: auto;
}
.container .admin-index table tbody tr td img {
  width: 150px;
}
