.container {
    .modal {
        .modal-body {
            .frm-delete {
                display: flex;
                justify-content: center;

                .delete-content {
                    font-size: 20px;
                }
            }
        }

        .modal-footer {
            button {
                width: 100px;
            }
        }
    }

    .title {
        padding: 5px 0 0 0;
    }

    .function-btn {
        .frm-search {
            button {
                min-width: auto;
            }
        }
    }

    .admin-index {
        table {

            .work {
                width: 80px;
            }

            thead {
                tr {
                    th {
                        min-width: 80px;
                    }

                    .id {
                        min-width: auto;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        img {
                            width: 150px;
                        }
                    }
                }
            }
        }
    }
}
