.ranking {
  margin-top: 20px;
}
.ranking .rank-list .rank-title {
  background-color: #1ABC9C;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
}
.ranking .rank-list ul li:nth-child(1) .rank, .ranking .rank-list ul li:nth-child(2) .rank, .ranking .rank-list ul li:nth-child(3) .rank {
  font-size: 40px;
}
.ranking .rank-list ul li:nth-child(1) .rank {
  color: #E84C3C;
}
.ranking .rank-list ul li:nth-child(2) .rank {
  color: #1ABC9C;
}
.ranking .rank-list ul li:nth-child(3) .rank {
  color: #F39C12;
}
.ranking .rank-list ul li:hover {
  background-color: #E7E9EB;
}
.ranking .rank-list ul li .rank {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
}
.ranking .rank-list ul li .song-img {
  width: 13%;
}
.ranking .rank-list ul li .content-song {
  width: 77%;
}
.ranking .rank-list ul li .content-song .name {
  font-size: 20px;
  color: black;
  text-decoration: none;
}
.ranking .rank-list ul li .content-song .name:hover {
  color: #2DAAED;
}
.ranking .rank-list ul li .content-song .singer-name {
  font-size: 15px;
  color: #A2A2B0;
}
.ranking .rank-list ul li .play-icon {
  width: 10%;
}
.ranking .rank-list ul li .play-icon .icon {
  font-size: 25px;
  color: black;
  text-decoration: none;
}
.ranking .rank-list ul li .play-icon .icon:hover {
  color: #2DAAED;
}
.ranking .category-list .category-title {
  color: #2DAAED;
  font-size: 30px;
}
